<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452370677546-8p735gpvj3ao9hp7rsi36ksaojdo3dvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452370677546-8p735gpvj3ao9hp7rsi36ksaojdo3dvv</string>
	<key>API_KEY</key>
	<string>AIzaSyDICvdywDKVCObjibEOm0wOCyvG9G87H9U</string>
	<key>GCM_SENDER_ID</key>
	<string>452370677546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getxpro</string>
	<key>PROJECT_ID</key>
	<string>railway-booking-system---dbms</string>
	<key>STORAGE_BUCKET</key>
	<string>railway-booking-system---dbms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452370677546:ios:b778f9f31883d1e70fe853</string>
</dict>
</plist>